/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #3498db, #2ecc71); /* Color de fondo sólido */
    color: #0e0d0d;
}

h1, h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
    text-align: justify;
}


header {
    background: linear-gradient(90deg, #3498db, #2ecc71);
    color: rgb(245, 242, 242);
    padding: 20px 0;
    text-align: center;
    border-bottom: 3px solid #2980b9;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* principal y secciones */
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    box-shadow: 0 4px 6px rgba(210, 228, 238, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.8rem;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

section img, section video {
    display: block;
    margin: 0 auto 10px auto;
    max-width: 100%;
    border-radius: 8px;
}

